body{
    margin:0;
}

header{
    grid-area: header;
    background-color: $branco;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
        font-family:'Lacquer', sans-serif;
        font-size: 100pt;
    }
    img{
        height: 170px;
        width: 220px;
        border-radius: 20%
    }
}