body{
    display:grid;
    grid-template-areas: "header header header header"
                         "nav nav nav nav"
                         "section section section aside"
                         "section section section aside"
                         "footer footer footer footer";
    grid-template-rows: 200px 50px 300px 300px 80px;
    grid-template-columns: 25% 25% 25% 25%;                     
}